<%layout("/layouts/boilerplate.ejs")%>
<div class="admincontainer">
  <h1>Welcome to the dashboard, Admin !</h1>
  <%allQueries.forEach((query)=>{%>

  <div class="queryData form-group">
    <h6>Name:</h6>
    <input type="text" readonly class="form-control" value="<%=query.name%>" />
    <h6>Type Of Advertising:</h6>
    <input
      type="text"
      readonly
      class="form-control"
      value="<%=query.typeOfAdvertising%>"
    />
    <h6>Message:</h6>
    <textarea type="text" readonly class="form-control">
<%=query.message%></textarea
    >
    <h6>Mobile No.</h6>
    <input type="text" readonly class="form-control" value="<%=query.mobno%>" />
    <h6>Email:</h6>
    <input type="text" readonly class="form-control" value="<%=query.email%>" />
  </div>

  <%})%>
</div>
